.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}

.metamask-button {
  background-color: #e5771b;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.metamask-button:hover {
  background-color: black;
  color: #e5771b;
  border: 2px solid white;
}

.metamask-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.metamask-button:disabled,
.metamask-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0 0px;
  transform: translateY(0px);
  cursor: default;
}
